<% provide(:title, @user.name) %>
<div class="row">
<p>
  <strong><i>Name:</i>:</strong>
  <%= current_user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div class="projectsN">
    <% if @user.projects.any? %>
    <h3>Projects (<%= @user.projects.count %>)</h3>
    <ol class="projects">
      <%= render @projects %>
    </ol>
    <% end %>    
</div>
</div>