<form class="project-create-form" >
  <div><input class="project-input input-sm" id="project-input-id-<%=@project.id%>" data-id="<%=@project.id%>" 
              placeholder="+ add Project"></input></div>
  <div class="project-create-btn btn btn-success btn-sm" data-id="<%=@project.id%>">Create Project</div>
</form>