<form name="projectForm" class="project-create-form">
  <div class="form-group has-error">    
    <label class="project-control-label control-label" for="inputError">
      <span class="help-block"></span>
    </label>
    <input type="text" class="project-input-form" id="project-input-id-<%=@project.id%>" data-id="<%=@project.id%>" 
           placeholder="+ add Project"
           name="projectName"></input>
  </div>
  <div class="project-create-btn btn btn-success" data-id="<%=@project.id%>" type="submit">Create Project</div>         

</form>