<%= form_for(@project, remote: true) do |f| %><!--, remote: true aсинхроннй запрос -->
  
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "+ add Project", class: "form-control" %>
  </div>
  <%= f.submit({:class =>'btn btn-success'}, "add Project")  %>

<% end %>