<%= form_for(@task) do |f| %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Start typing here to create a task..." %>
  </div>
  <%= f.submit "Add Task", class: "btn btn-success" %>
<% end %>