<table class="tasks table" id="project_tasks-<%= project.id %>" data-id="<%= project.id %>">
  <tbody class="tasks_tbody list-group" data-url="<%= sort_tasks_path %>">
    <% project.tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </tbody>
</table>