<div class="update_projectA">
    <%= form_for(@projectID) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit "image_butn_update", class: "btn btn-primary" %>
    <% end %>  
</div>