<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  
</p>

<p>
  <strong>User:</strong>
  
</p>

<%= link_to 'New User', new_user_path %> |
<%= link_to 'Back to users Listing', users_path %>